**/.circleci
**/.editorconfig
**/.dockerignore
**/.git
**/.DS_Store
**/.vscode
**/node_modules

# Specific patterns to ignore
data-node
meili_data*
librechat*
Dockerfile*
docs
logs

# Ignore all hidden files
.*
